<div class="video-frame">
  <div class="video-header">
    <h2>Watch last year's highlights</h2>
    <a href="https://youtu.be/iBixc8EJDSY?si=YrQpAeLiHjnbApxR" target="_blank" rel="noopener">
    </a>
    <button ccd-button [showArrow]="true">See More
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
  <div class="video-embed">
    <iframe width="100%" height="400" src="https://www.youtube.com/embed/ujjurKJhmaE?si=LuBJg06IZD86V7mR"
      title="Google Cloud Community Day Pune 2024 | GDG Cloud Pune" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
</div>