<section class="rockstars-section">
  <div class="heading-container">
    <h1 class="main-title">Past Speakers</h1>
    <p class="subtitle">Or in Simple terms “ROCKSTARS”</p>
  </div>
  <div class="speakers-grid">
    <div class="speaker-card">
      <div class="name">
        <div class="text">
          Dharmesh Vaya
        </div>
        <div class="img">
          <img src="https://df24.b-cdn.net/ccd/ps_star.svg" alt="">
        </div>
      </div>
      <div class="photo">
        <img src="https://df24.b-cdn.net/ccd/ps1.png" alt="">
      </div>
      <div class="pill">
        <img src="https://df24.b-cdn.net/ccd/GDGC_Logo.svg" alt="">
      </div>
      <div class="socials">
        <img src="https://df24.b-cdn.net/ccd/ps-fb.svg" alt="">
        <img src="https://df24.b-cdn.net/ccd/ps-t.svg" alt="">
        <img src="https://df24.b-cdn.net/ccd/ps-w.svg" alt="">
      </div>
    </div>
  </div>
</section>
