<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <p>Google Developer Groups Cloud Pune</p>
      <p class="footer-credit">Designed and developed by Humans with keyboard</p>
    </div>

    <div class="footer-links">
      <a href="https://developers.google.com/community/gdg">GDG Program</a>
      <a href="#">FAQ</a>
      <a href="#">Code of conduct</a>
      <a href="https://developers.google.com/community-guidelines">Community Guidelines</a>
    </div>
  </div>
</footer>