<header class="header">
  <div class="header-container">
    <div class="logo-container">
      <div class="google-dev-logo">
        <img alt="Google Developer Groups Cloud" height="48" src="/assets/images/GDG-Cloud-Pune-HR.svg">
      </div>
    </div>
    <nav class="navigation">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/tickets" routerLinkActive="active">Tickets</a></li>
        <li><a routerLink="/code-of-conduct" routerLinkActive="active">Code of Conduct</a></li>
      </ul>
    </nav>
  </div>
</header>