<div class="header-wrapper">
  <header class="header" [ngClass]="{'mobile-menu-open': isMenuOpen}">
    <div class="header-container">
      <div class="logo-container">
        <div class="google-dev-logo">
          <img class="gdg-logo" alt="Google Developer Groups Cloud" height="48"
            src="/assets/images/GDG-Cloud-Pune-HR.svg">
        </div>
      </div>
      <button class="hamburger-menu" (click)="toggleMenu()" *ngIf="isMobile$ | async">
        <mat-icon>{{isMenuOpen ? 'close' : 'menu'}}</mat-icon>
      </button>
      <nav class="navigation" [ngClass]="{'mobile-menu': isMobile$ | async}">
        <ul>
          <li><a routerLink="/home" routerLinkActive="active" (click)="closeMenu()">Home</a></li>
          <li><a routerLink="/tickets" routerLinkActive="active" (click)="closeMenu()">Tickets</a></li>
          <li><a routerLink="/speakers" routerLinkActive="active" (click)="closeMenu()">Speaker</a></li>
          <li><a routerLink="/badge" routerLinkActive="active" (click)="closeMenu()">Badge</a></li>
          <li><a routerLink="/teams" routerLinkActive="active" (click)="closeMenu()">Team</a></li>
          <li><a routerLink="/code-of-conduct" routerLinkActive="active" (click)="closeMenu()">Code of Conduct</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>