<section class="social-links">
  <div class="gdg-info">
    <h2>Keep in touch with GDG Cloud Pune for the latest announcements</h2>
    <p>Stake out #CCDPune for the latest updates and news.</p>
  </div>

  <div class="social-icons">
    <a class="social-icon" href="https://x.com/gdgcloudpune" target="_blank" rel="noopener noreferrer">
      <img alt="Twitter/X" src="/assets/icons/twitter.svg">
    </a>
    <a class="social-icon" href="https://www.instagram.com/gdgcloudpune" target="_blank" rel="noopener noreferrer">
      <img alt="Instagram" src="/assets/icons/instagram.svg">
    </a>
    <a class="social-icon" href="https://www.linkedin.com/company/gdg-cloud-pune/" target="_blank"
      rel="noopener noreferrer">
      <img alt="LinkedIn" src="/assets/icons/linkedin.svg">
    </a>
    <a class="social-icon" href="#">
      <img alt="YouTube" src="/assets/icons/youtube.svg">
    </a>
  </div>
</section>