<section class="cool-figures-section">
  <div class="heading-container">
    <h1 class="main-title">Some Cool Figures</h1>
    <p class="subtitle">Just To Flex Last years CCD</p>
  </div>

  <div class="figures-grid">
    <div class="figure-card">
      <div class="card-number-section">
        <span class="number">600+</span>
      </div>
      <div class="card-label-section">
        <span class="label-text">Total Attendees</span>
        <div class="icon">
          <img src="https://df24.b-cdn.net/ccd/gemini_star.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
