<div class="what-wrap" [ngClass]="{'isMobile': (isMobile|async), 'isTablet': (isTab|async)}">
  <div class="what-is-ccd">
    <div class="title">What is CCD?</div>
    <p>
      Cloud Community Days Pune 2025 is back for its fourth edition—bigger, better, and more hands-on than ever. This
      year, we’re bringing together developers, cloud architects, AI enthusiasts, and tech professionals for a full-day
      experience packed with insightful talks, real-world case studies, and lightning sessions that spark ideas and
      share learnings from the field.

    </p>
    <p>
      What’s new? We’re introducing immersive, workshops designed to help you roll up your sleeves and build on the
      cloud. Whether you’re here to explore scalable architectures, dive into AI/ML, or enhance your security posture,
      there’s something for everyone. Choose to attend just the conference, just the workshops, or go all-in with an
      all-access pass—your cloud journey, your way.

    </p>
  </div>
  <div class="img">
    <img src="https://df24.b-cdn.net/ccd/what-is-ccd.png" alt="">
  </div>
</div>